@model EShop.Models.Role

@{
    ViewData["Title"] = "Thêm mới quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Thêm mới quyền truy cập</span>
        </nav>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="AdminRoles" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Tên quyền truy cập</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                <button asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay về</button>
            </div>
        </form>
    </div>
</div>


